@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 70px;
  font-weight: 600;
  color:#6c1b97;
  box-shadow: 0 8px 8px -4px rgb(88, 13, 146);
}

.country-info {
  margin-top: 6em;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #6c1b97;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #03082c;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6c1b97;
  background: #6c1b97;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}