@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);


body{
  background-color: #7c18ff;
  font-family: 'montserrat', sans-serif;
}


nav {
  background: #7a00a6;
  text-align: center;
  height: 90px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.wrapper {
  padding-top: 10em;
}

.wrapper img {
  border-radius: 15px;
  border: 3px solid #fff;
}

.button {
  margin-top: 15em;
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: rgb(162, 0, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  position: relative;
}

.button:hover {
  background-color: #a95cc5;
}

.button:active {
  background-color: #a95cc5;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.error {
  margin-top: 4em;
}

.container {
  text-align: center;
}

.text-box {
  color: white;
}

.container h1 {
  font-size: 70px;
  font-weight: 600;
  color:#a112da;
  box-shadow: 0 8px 8px -4px rgb(172, 18, 210);
}

.country-info {
  margin-top: 6em;
}

.search {
  width: 100%;
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0b00de;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #03082c;
}

.searchButton {
  width: 40px;
  height: 46px;
  border: 1px solid #0b00de;
  background: #0b00de;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5em;
}